---
const slides = [
  "/images/author.png",
  "/images/author.png",
  "/images/author.png",
];
---

<div class="mb-5">
    <h1 class="mb-2 text-sm text-black font-bold sm:text-2xl">「そろばん」キッカケの、強い未来。</h1>

    <img src="/images/logo_pico.png" alt="">
    <p class="text-xl text-black mt-4">キャッチフレーズの補足説明やモットー。</p>
   
</div>
