---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Posts from "@/layouts/Posts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import FeedbackForm from "@/components/FeedbackForm";
import HeroBanner from '@/layouts/components/HeroBanner.astro';
import ParentComponent from '@/components/ParentComponent';
import TestButton from '@/components/TestButton';
import Slider from '@/components/Slider';
import FixedBottomBanner from "@/components/FixedBottomBanner";
import NoticeComponent from '@/layouts/components/NoticeComponent.astro';
import GoogleMapComponent from '@/components/GoogleMapComponent';
import Form from '@/components/Form';
import Canvas from '@/components/Canvas';



const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base>
  <section class="section">
    <div class="container">
      <!-- <HeroBanner /> -->
      <Canvas client:only="react" />
    
      <Slider client:load />
      <!-- <TestButton client:load/>
      <ParentComponent client:load /> -->
      <NoticeComponent />
      
      

      <Posts posts={currentPosts} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalPages} />
      <div>
        <GoogleMapComponent client:load />
      </div>
    </div>
  </section>

  
  
  <FixedBottomBanner id="fixedBottomBanner" />
  <script type="module" src="/scripts/fixedBannerControl.js"></script>
  
</Base>




