---
import { Image } from "astro:assets";
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize,slugify } from "@/lib/utils/textConverter";
import { BiCalendarEdit,BiCategoryAlt } from "react-icons/bi";
const authors = await getSinglePage("authors");
console.log(authors);
const { summary_length } = config.settings;
const { className, posts, fluid } = Astro.props;
---
<div class="mb-8">
  <div class="bg-gray-100 py-4 px-6 mb-4">
    <h2 class="text-2xl font-bold mb-2">
      <a href="/blog" class="">ブログ</a>
    </h2>
    <div class="h-1 bg-customGreen mb-4"></div>
    <p class="text-gray-600">最新情報を更新中！今すぐチェック！</p>
  </div>
 
</div>

